@font-face {
  font-family: "Roboto";
  src: url('static/font-face/Roboto-Regular.ttf');
}
* {
  font-family: "Roboto", sans-serif;
}
a {
  outline: none;
}
.row {
  border-bottom: 1px solid #A9A9A9;
  padding: 50px 0;
}
#home-jumbotron {
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  height: 500px;
}
#home-jumbotron #my_logo {
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
#home-jumbotron #description-home {
  border-style: double;
  border-width: 4px;
}
#home-jumbotron h4,
#home-jumbotron p {
  color: #333333;
}
#home-jumbotron #cont-btn-acces {
  margin-top: 70px;
}
#home-jumbotron #cont-btn-acces > * {
  width: 45%;
  height: 70px;
  font-size: 25px;
  line-height: 55px;
}
#home-jumbotron #cont-btn-acces > *.btn-secondary {
  margin-left: 35px;
}
#temas-home-cont h2 {
  padding-bottom: 10px;
}
.tema {
  line-height: 30px;
}
